@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body{
  display: flex;
  flex-direction: column;
}
.content{
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex: auto;
}

div.buttons{
  font-weight: bold;
}

.header, .footer{
  display: flex;
  width: 98%;
  justify-content:space-between;
  position: absolute;
  padding: 16px;
}

.left-links{
  display: inline-flex;
}

.right-links{
  display: inline-flex;
}
ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a{
  text-decoration: none;
  color: black;
}

.footer{
  bottom: 0px; 
  background-color: #ddd;
}
/*
.header{
  position: absolute;
}

.left-links{
  /*position: relative;
  left: -80x;*/
