* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 4fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  display: grid;  
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 4fr;
}

.logo {
  justify-content: start;
  display: grid;
  grid-column: 1 / 2;
}

.menu {
  display: grid; 
  grid-column: 2 / 3;
}

.menu ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  
  justify-content: center;
  justify-items: center;
}

.menu li {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.sidebar {
  background-color: #FF7755;
  display: grid;
  grid-row: 2 / 4;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  text-align: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo  {
  align-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  align-items: center;
}

.nav {
  background-color: #FF7755;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3; 
  
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr ));
  grid-row: 3 / 4;
  

  /*
  really confused here ^
  */
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;

}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
  
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
  
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}